bin
obj
*.suo
*.sln.cache
*_exp2eKrebs.zip
*.csproj.ReSharper
*.csproj.user
*.ReSharper.user
*.DotSettings.user
*.DotSettings
report.txt
*.exe
execIA.bat
tmp
_UpgradeReport_Files
UpgradeLog*.XML
tmpApplicationLanguage
tmpCommonLanguage
tmpDevicesLanguage
tmpCatalogueSharedLanguage
_ReSharper.PCS3
_ReSharper.GUIDirector
_ReSharper.UCS
_ReSharper*
_ReSharper.*
arcDepTmp
TestResults